# client_id SoundCloud — jamais exposé au frontend
SC_CLIENT_ID=QNR5nrdLOvApYERC8AOUr3VjRfHnLjle

# Port d'écoute du serveur Express
PORT=3000

# Nombre maximum de téléchargements simultanés (file d'attente locale)
MAX_CONCURRENT_DOWNLOADS=3
